{% extends 'base.html.twig' %}

{% block title %}ADN87 - Intranet{% endblock %}

{% block body %}
<div>
    <a href="login/intervenant/debut"><input type="submit" name="debut" id="debut" value = "debut" ></a>
    <a href="login/intervenant/fin"><input type="submit" name="fin" id="fin" value = "fin"></a>
</div>
{% endblock %}
