{% extends 'base.html.twig' %}

{% block title %}ADN87 - Intranet{% endblock %}

{% block body %}
<div>
    <a href="/logout">Se Déconnecter</a>
</div>
<div>
    <a href="/Intervenant/Prise_vehicule"><input type="submit" name="debut" id="debut" value = "debut" ></a>
    <a href="/Intervenant/Retour_vehicule"><input type="submit" name="fin" id="fin" value = "fin"></a>
</div>
{% endblock %}
