{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
<div>
    <form action="{{path('app_login')}}" method="post">
        <fieldset>
            <legend> Connexion </legend>
            <input type="text" name="user_login" id="user_login" value="" placeholder="Identifiant" required><br><br>
            <input type="password" name="mdp_login" id="mdp_login" value="" placeholder="Mot de passe" required><br><br>

            <input type="reset" name="annuler" id="annuler" value="Annuler">
            <input type="submit" name="valider" id="valider" value="Valider">
        </fieldset>
    </form>
</div>
{% endblock %}
