{% extends 'base.html.twig' %}

{% block title %}Hello InscriptionController!{% endblock %}

{% block body %}
<div>
    <form action="{{path('app_inscription')}}" method="post">
        <fieldset>
            <legend>Inscription de personnel</legend>

            <label for="nom">Nom *</label><br>
            <input type="text" name="nom" id="nom" value="" onload="" required><br><br>

            <label for="prenom">Prenom *</label><br>
            <input type="text" name="prenom" id="prenom" value="" autocomplete="off" required><br><br>

            <label for="identifiant">Identifiant *</label><br>
            <input type="text" name="identifiant" id="identifiant" value="" autocomplete="off" required><br><br>

            <label for="mail">Adresse Mail</label><br>
            <input type="text" name="mail" id="mail" value="" autocomplete="off"><br><br>

            <label for="pwd">Mot de passe *</label><br>
            <input type="password" name="pwd" id="pwd" value="" autocomplete="off" required pattern=”(?=^.{8,}$)((?=.*d)|(?=.*W+))(?![.n])(?=.*[A-Z])
            (?=.*[a-z]).*” /><br><br>

            <label for="choixRole">Roles *</label><br>
            <select name="choixRole" id="choixRole" autocomplete="off" required>
                <option value="">----</option>
                <option value="intervenant">intervenant</option>
                <option value="administratif">Administratif</option>
                <option value="administrateur">administrateur</option>
                <option value="comptabilite">Compatbilité</option>
            </select><br>

            <p>* Mentions obligatoires</p>

            <input type="reset" name="annuler" id="annuler" value="Annuler">
            <input type=submit name="valider" value="Valider">
        </fieldset>
    </form>
</div>
{% endblock %}
