{% extends 'base.html.twig' %}

{% block title %}ADN87 - Inscription{% endblock %}

{% block body %}
<div class="menu_administration">
    <ul class="navbar">
        <li><a href="inscription">Inscription de personnel</a></li>
        <li><a href="creer_vehicules">Inscription de véhicules</a></li>
        <li><a href="affichage_vehicules">Afficher les véhicules</a></li>
        <li><a href="affichage_personnel">Afficher le personnel</a></li>
        <li><a href="logs_vehicules">Les prises des véhicules</a></li>
    </ul>
</div>

<div>
    <form action="{{path('inscription')}}" method="post">
        <fieldset>
            <legend>Inscription de personnel</legend>

            <label for="nom">Nom *</label><br>
            <input type="text" name="nom" id="nom" value="" onload="" required><br><br>

            <label for="prenom">Prenom *</label><br>
            <input type="text" name="prenom" id="prenom" value="" autocomplete="off" required><br><br>

            <label for="identifiant">Identifiant *</label><br>
            <input type="text" name="identifiant" id="identifiant" value="" autocomplete="off" required><br><br>

            <label for="mail">Adresse Mail</label><br>
            <input type="email" name="mail" id="mail" value="" autocomplete="off"><br><br>

            <label for="pwd">Mot de passe *</label><br>
            <input type="password" name="pwd" id="pwd" value="" autocomplete="off" required><br><br>

            <label for="choixRole">Roles *</label><br>
            <select name="choixRole" id="choixRole" autocomplete="off" required>
                <option value="">----</option>
                <option value="intervenant">Intervenant</option>
                <option value="administratif">Administratif</option>
                <option value="administrateur">Administrateur</option>
                <option value="comptabilite">Compatbilité</option>
            </select><br>

            <p>* Mentions obligatoires</p>

            <input type="reset" name="annuler" id="annuler" value="Annuler">
            <input type=submit name="valider" value="Valider">
        </fieldset>
    </form>
</div>
{% endblock %}
