{% extends 'base.html.twig' %}

{% block title %}Hello InscriptionController!{% endblock %}

{% block body %}
<div>
    <form action="{{path('incriptionController')}}" method=post>
        <fieldset>
            <legend>Inscription de personnel</legend>

            <label for="nom">Nom *</label>
            <input type=text name="nom" id="nom" value="">

            <label for="prenom">Prenom *</label>
            <input type=text name="prenom" id="prenom" value="">

            <label for="identifiant">Identifiant *</label>
            <input type=text name="identifiant" id="identifiant" value="">

            <label for="mail">Adresse Mail</label>
            <input type=text name="mail" id="mail" value="">

            <label for="pwd">Mot de passe *</label>
            <input type=password name="pwd" id="pwd" value="">

            <label for="choixRole">Roles *</label>
            <select name="choixRole" id="choixRole">
                <option value="">----</option>
                <option value="intervenant">intervenant</option>
                <option value="administration">Administration</option>
                <option value="administrateur">Administrateur</option>
                <option value="comptabilite">Compatbilité</option>
            </select>

            <input type=submit name="valider" value="Valider">
        </fieldset>
    </form>
</div>
{% endblock %}
