{% extends 'base.html.twig' %}

{% block title %}Hello InscriptionController!{% endblock %}

{% block body %}
<div>
    <form action="{{path('app_inscription')}}" method="$_POST">
        <fieldset>
            <legend>Inscription de personnel</legend>

            <label for="nom">Nom *</label>
            <input type="text" name="nom" id="nom" value="" required>

            <label for="prenom">Prenom *</label>
            <input type="text" name="prenom" id="prenom" value="" required>

            <label for="identifiant">Identifiant *</label>
            <input type="text" name="identifiant" id="identifiant" value="" required>

            <label for="mail">Adresse Mail</label>
            <input type="text" name="mail" id="mail" value="">

            <label for="pwd">Mot de passe *</label>
            <input type="password" name="pwd" id="pwd" value="" required>

            <label for="choixRole">Roles *</label>
            <select name="choixRole" id="choixRole" required>
                <option value="">----</option>
                <option value="intervenant">intervenant</option>
                <option value="administration">Administration</option>
                <option value="administrateur">Administrateur</option>
                <option value="comptabilite">Compatbilité</option>
            </select>

            <input type=submit name="valider" value="Valider">
        </fieldset>
    </form>
</div>
{% endblock %}
