<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="assets\favicon_io\favicon-32x32.png">
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
