{% extends 'base.html.twig' %}

{% block title %}ADN87 - Créer un véhicules{% endblock %}

{% block body %}
<div>
    <form action="{{path('app_creer_vehicules')}}" method="post">
        <fieldset>
            <legend>Inscription de Véhicules</legend>

            <label for="identifiant">Identifiant *</label><br>
            <input type="text" name="identifiant" id="identifiant" value="" onload="" required><br><br>

            <label for="marque">Marque</label><br>
            <input type="text" name="marque" id="marque" value="" ><br><br>

            <label for="modele">Modele</label><br>
            <input type="text" name="modele" id="modele" value="" ><br><br>

            <label for="immatriculation">Immatriculation</label><br>
            <input type="text" name="immatriculation" id="immatriculation" value="" ><br><br>

            <label for="kilometrage">Kilométrage *</label><br>
            <input type="number" name="kilometrage" id="kilometrage" value="" required><br><br>

            <label for="choixSite">Site *</label><br>
            <select name="choixSite" id="choixSite" required>
                <option value="">----</option>
                <option value="Limoges">Limoges</option>
                <option value="Saint-Junien">Saint-Junien</option>
            </select><br><br>

            <label for="choixCarburant">Carburant *</label><br>
            <select name="choixCarburant" id="choixCarburant" required>
                <option value="">----</option>
                <option value="electrique">Electrique</option>
                <option value="hybride">Hybride</option>
                <option value="diesel">Diesel</option>
                <option value="essence">Essence</option>
            </select><br><br>

            <label for="garantie">Garantie *</label><br>
            <select name="garantie" id="garantie" required>
                <option value="">----</option>
                <option value="oui">Oui</option>
                <option value="non">Non</option>
            </select><br><br>

            <label for="disponible">Disponible *</label><br>
            <select name="disponible" id="disponible" required>
                <option value="">----</option>
                <option value="oui">Oui</option>
                <option value="non">Non</option>
            </select><br><br>

            <label for="geocoyote">Géocoyote *</label><br>
            <select name="geocoyote" id="geocoyote" required>
                <option value="">----</option>
                <option value="oui">Oui</option>
                <option value="non">Non</option>
            </select><br><br>

            <label for="num_geocoyote">Numéro du Géocoyote</label><br>
            <input type="number" name="num_geocoyote" id="num_geocoyote" value="" ><br><br>

            <label for="observations">Observations</label><br>
            <textarea name="observations" id="observations" value="" ></textarea>

            <p>* Mentions obligatoires</p>

            <input type="reset" name="annuler" id="annuler" value="Annuler">
            <input type=submit name="valider" value="Valider">
        </fieldset>
    </form>
</div>
{% endblock %}
